* {
	 border: 0;
	 margin: 0;
}

.header {
	 margin: 0 auto;
	 width: 1624px;
	 height: 34px;
	 border: 1px solid red;
}
.inline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 101px;
	height: 34px;
	background-color: yellow;
}
.navigation {
	width: 430px;
	height: 26px;
	background-color: blue;
}
.cart {
	width: 34px;
	height: 34px;
	background-color: green;
}
.navigation-cart-block {
	width: 540px;
}